.root {
  border-radius: 10px;
  border: none;
  font-size: 15px;
  line-height: 1.2;
  cursor: pointer;
  padding: 10px 15px;
  outline: none;
}

.control {
  width: 38px;
  height: 38px;
  padding: 0;
  border-radius: 19px;
}
